.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fff;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    background-color: lightseagreen;
    margin-bottom: 1rem;
    text-align: center;
}

/* ---------------------------------- */

/*
1. první zvíře roztáhnout na celou šířku
2. první zvíře podbarvit karmínově
3. poslední zvíře podbarvit kaštanově
*/

p {
    padding: 0.25rem 1rem;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font-style: italic;
}

article:first-child {
    flex-basis: 100%;
    background-color: crimson;
}

p:first-of-type {
    margin-bottom: 0;
}

p:last-child {
    border-top: 0;
    margin-top: 0;
}

p:empty {
    display: none;
}