/* Selektory čteme odzadu (od otvírací složené závorky směrem k začátku řádku) */

#page-title {
    color: goldenrod;
}

header h1.heading.heading--main {
    color: hotpink;
}

h1.heading.heading--main {
    color: green;
}

.heading.heading--main {
    color: silver;
}

h1.heading--main {
    color: maroon;
}

.heading--main {
    color: crimson;
}

header h1 {
    color: aqua;
}

h1 {
    color: black !important;
}

h1 {
    color: orange;
}
