/* nejsme vcerejsi, pouzivame moderni box model */
*, ::after, ::before { box-sizing: border-box; }

:root {
	--primary-color: #b40000;
	--secondary-color: #006c6c;
	--tertiary-color: #70a800;
	--button-size: 1rem;
	--button-display: inline-block;
}

.btn--primary {
	--color: var(--primary-color);
}

.btn--secondary {
	--color: var(--secondary-color);
}

.btn--tertiary {
	--color: var(--tertiary-color);
}

@media screen and (max-width: 360px) {

	.btn {
		--button-display: block;
	}
}

@media screen and (max-width: 600px) {

	.btn {
		--button-size: 1.5rem;
	}
}

.btn--small {
	--button-size: 0.75rem;
}

.btn--large {
	--button-size: 2rem;
}

/* -------------------------------- */

.btn {
	display: var(--button-display);
	padding: calc(var(--button-size) / 2) var(--button-size);
	border: 2px solid currentColor;
	border-radius: calc(var(--button-size) / 2 );
	color: var(--color);
	font-size: var(--button-size);
	text-decoration: none;
	text-align: center;
}

.btn:hover {
	color:	#fff;
	background-color: var(--color);
}
